gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
# key.properties  <- COMMENTED OUT for cloud build
# **/*.keystore   <- COMMENTED OUT for cloud build
**/*.jks
